<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <EcsLayout serviceName="advertService"/>
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="io.grpc.netty" level="INFO"/>
        <Logger name="io.netty" level="INFO"/>
        <Logger name="sun.net" level="INFO"/>
        <Root level="TRACE">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
